body{
    font-family: Arial, sans-serif ;
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
 .navbar{
    background-color: chocolate;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: #ddd;
    color: white;
}
 .hero{
    position: relative;
    text-align: center;
    color: white;
 }
 .hero img{
    width: 100%;
    height: auto;
 }
 .hero .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius:10px;
 }
  .hero h1{
    font-size: 3em;
    margin: 0;
  }
  .hero p{
    font-size: 1.2em;
    margin:  10px 0 0 0;
  }
  .section1{
    margin: 150px ;
    padding: 20px;
    text-align: center;
  }
  .cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

  }
  .card{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    flex: 1;
    min-width: 200px;
    max-width: 300px;
  } 
  .card i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ff6347;
  }
  .card h3{
    font-size: 1.5em;
    margin: 10px 0;
  }

  .card-form{
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
  }
.order-form input, .order-form textarea{

  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.reservations h3{
  font-family: "Sofia", sans-serif;

}
.reservations h1{
 text-transform: capitalize;
 font-size: 70px;
 }
 
 .reservations button{
background-color: black;
color: white;
 font-size: 40px;
 border: 5px solid orange ;
 }
 .reservations button:hover{
  background-color: green;
  color: white;
  border: 5px solid orange;
 }
  .reservations{
    margin: auto;
    text-align: center;
  }
  .block{
    margin: 100px;
    display: flex;
  }
  .section3{
   
    text-align: center;
  }

  #card2 h3{
    font-family: "Sofia", sans-serif;
    color: orange;
  }
  
  .section3 h1{
    text-transform: capitalize;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
   .cart h1{
   font-size: 15px;
   margin: 20px;
  }

  
   .carts{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: auto;
    margin-right: 180px; 
      margin-left: 180px; 
   }  
   .section3 button{
    background-color: orange;
    color: white;
    margin: 20px;
     border-radius: 20%;
   }   
    .carts img{
      height: 350px;
      width: 350px;
      border-radius:100%;
      
    }
     
     .cart img:hover {
      transform: scale(1.2);
     }
    
     .cart img {
      margin: auto;
      transition:transform .2s ;
     }
     .section2{
      margin: auto;
      margin-left: 200px;
     }
     