body{
    font-family: Arial, sans-serif ;
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
 .navbar{
    background-color: chocolate;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: #ddd;
    color: white;
}
 .hero{
    position: relative;
    text-align: center;
    color: white;
 }
 .hero img{
    width: 100%;
    height: auto;
 }
 .hero .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius:10px;
 }
  .hero h1{
    font-size: 3em;
    margin: 0;
  }
  .hero p{
    font-size: 1.2em;
    margin:  10px 0 0 0;
  }
  .section{
    padding: 20px;
    text-align: center;
  }
  .cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

  }
  .card{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    flex: 1;
    min-width: 200px;
    max-width: 300px;
  } 
  .card i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ff6347;
  }
  .card h3{
    font-size: 1.5em;
    margin: 10px 0;
  }

  .card-form{
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
  }
.card-form input, .order-form textarea{
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}
